---
layout: default
title: Blog de Laurent Stemmer
---
<h1 class="text-4xl text-blue-900 font-bold flex items-center justify-center border-b-2 py-2 text-center">
    Stemlaur, blog !
</h1>
<section>
    <header class="my-6 flex items-center justify-center overflow-hidden">
        <img class="w-64 h-64 top-3 transition duration-900 ease-in-out transform hover:-rotate-2"
             src="/assets/images/stemlaur_main.png" alt="Stemlaur logo"/>
    </header>

    <div class="cards">

        {% include  card.html
            card_baseurl=site.baseurl
            card_url="/nikonov"
            card_title="Nikonov"
            card_img="/assets/images/posts/nikonov.jpg"
            card_img_alt=""
            include_text="false"
        %}

        {% include  card.html
            card_baseurl=site.baseurl
            card_url="/blog/2020/05/06/fusion/"
            card_title="Fusion"
            card_img="/assets/images/posts/fusion.jpg"
            card_img_alt=""
            include_text="false"
        %}

        {% include  card.html
            card_baseurl=site.baseurl
            card_url="/blog/2020/06/21/stemlaur-inc-les-tables-de-la-loi-informatique-et-liberte/"
            card_title="Les tables de la Loi informatique"
            card_img="/assets/images/programmation-par-l-absurde.png"
            card_img_alt=""
            include_text="false"
        %}

        {% include  card.html
            card_baseurl=site.baseurl
            card_url="/blog/2020/04/27/la-tulipe/"
            card_title="La tulipe"
            card_img="/assets/images/posts/la-tulipe.jpg"
            card_img_alt=""
            include_text="false"
        %}

        {% include  card.html
            card_baseurl=site.baseurl
            card_url="/blog/2020/05/29/l-homelie/"
            card_title="L'homélie"
            card_img="/assets/images/posts/l-homelie.jpg"
            card_img_alt=""
            include_text="false"
        %}

        {% include  card.html
            card_baseurl=site.baseurl
            card_url="/blog/2020/04/28/la-montagne-bleue/"
            card_title="La montagne bleue"
            card_img="/assets/images/posts/la-montagne-bleue.jpg"
            card_img_alt=""
            include_text="false"
        %}
    </div>
</section>