<nav class="post-nav-bar">
    <ul>
        <li>
            <a class="post-nav-bar__btn"
               href="{{ site.baseurl }}/tags/tech">
                Tech
            </a>
        </li>
        <li>
            <a class="post-nav-bar__btn"
               href="{{ site.baseurl }}/tags/inc">
                Stemlaur Inc. ©
            </a>
        </li>
        <li>
            <a class="post-nav-bar__btn"
               href="{{ site.baseurl }}/tags/nouvelle">
                Nouvelles
            </a>
        </li>
    </ul>
</nav>