<nav class="post-nav-bar m-6">
    <ul class="m-auto max-w-xs w-full flex flex-col sm:flex-row items-center justify-around text-gray-900 bg-white">
        <li class="px-1 py-1">
            <a class="w-44 inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-blue-900 uppercase transition bg-gray-100 rounded shadow ripple hover:shadow-lg hover:bg-gray-200"
               href="{{ site.baseurl }}/tags/tech">
                Tech
            </a>
        </li>
        <li class="px-1 py-1">
            <a class="w-44 inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-blue-900 uppercase transition bg-gray-100 rounded shadow ripple hover:shadow-lg hover:bg-gray-200"
               href="{{ site.baseurl }}/tags/inc">
                Stemlaur Inc. ©
            </a>
        </li>
        <li class="px-1 py-1">
            <a class="w-44 inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-blue-900 uppercase transition bg-gray-100 rounded shadow ripple hover:shadow-lg hover:bg-gray-200"
               href="{{ site.baseurl }}/tags/nouvelle">
                Nouvelles
            </a>
        </li>
    </ul>
</nav>