/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Source Sans Pro', sans-serif;
$font-size: 17px;
$font-size-mobile: 15px;

$code-font-stack: 'Source Code Pro', monospace;

$clr-primary: #1e3a8a;
$clr-text: rgb(55,65,81);

// Links
$link-color: #5a81b0;

// Blog post headings and page titles
$post-title-color: $clr-primary;
$post-date-color: #9a9a9a;
