.cards {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 0.3rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0.75rem;
  margin-left: auto;
  margin-right: auto;

  min-width: 100%;
  max-width: 20rem;

  border-width: 2px;
  border-radius: 0.5rem;

  background-color: #fff;

  outline: 0;
  transition: 0.2s;

  position: relative;
  min-height: 344px;
  box-shadow: -1rem 0 3rem -2rem #000;

  &:hover,
  &:focus {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-color: $clr-primary;
    background-color: rgba(249, 250, 251, 1);
    transform: translate(-0.5rem, -1rem) rotate(3deg);
  }
}

.card__title {
  border-color: #e5e7eb;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 700;
  height: 3.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  overflow: hidden;
  color: $clr-primary;
  text-decoration: none;
}

.card__img {
  --img-rotate: 0;
  display: block;
  vertical-align: middle;

  max-width: 100%;
  width: 8rem;
  height: 8rem;

  margin-left: auto;
  margin-right: auto;
  border-color: #e5e7eb;

  border-radius: 9999px;

  object-fit: cover;

  transform: rotate(var(--img-rotate));
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    --img-rotate: -6deg;
  }
}

.card__quote {
  border-color: #e5e7eb;
  height: 8rem;
  overflow: hidden;
}
