---
layout: default # This template inherits from my basic page template
---

<h1 class="text-4xl text-blue-900 font-bold flex items-center justify-center border-b-2 py-2 text-center">
    Stemlaur, blog !
</h1>

{% include post-nav-bar.html %}

<div class="cards">
    {% if page.tag == 'nouvelle' %}

        {% include  card.html
                    card_baseurl=site.baseurl
                    card_url="/nikonov"
                    card_title="Nikonov"
                    card_img="/assets/images/posts/nikonov.jpg"
                    card_img_alt=""
                    card_text="En dernière classe, Ivan Volodia Nikonov se mêlait à
                    une population de besogneux, de clochards, de familles nombreuses aux enfants colériques et
                    bruyants, aux prolétaires esclaves de leur machine, aux aliénés et aux opprimés."
                    include_text="true"
        %}

    {% endif %}

    {% for post in site.tags[page.tag] %}
        {% include  card.html card_baseurl=site.baseurl
                    card_url=post.url
                    card_title=post.title
                    card_img=post.image
                    card_img_alt=""
                    card_text=post.content
                    include_text="true"
        %}
    {% endfor %}
</div>
